html {
  box-sizing: border-box;
  background-color: #FFF0F5;
  color: #222;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}

header {
  align-items: center;
}

nav ul {
  margin: 0;
  padding: .5rem 1rem;
  list-style-type: none;
  display: flex;
  align-content: flex-end;
}

nav li {
  padding: 1.5rem 1rem;
}

nav a {
  text-decoration: :none;
  color: #2F4F4F
}

.hero-banner {
  display: grid;
  grid-template-areas: "hero-banner";
  place-items: center;
  place-content; center;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.hero-banner img {
  width: 100%
}

.hero-banner h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-left: 5rem;
  color: #FFF5EE
}
