html {
  box-sizing: border-box;
  background-color: #FFF0F5;
  color: #222;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: auto;
}

header {
  align-items: center;
}
nav, h2, h3, p, a {
  font-family: "Roboto", sans-serif;
}
nav ul {
  margin: 0;
  padding: .5rem 1rem;
  list-style-type: none;
  display: flex;
  align-content: flex-end;
}

nav li {
  padding: 1.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: #2F4F4F
}

.hero-banner {
  display: grid;
  grid-template-areas: "hero-banner";
  place-items: center;
  place-content; center;
  overflow: hidden;
  margin: 0;
  padding-bottom: 5rem;
  position: relative;
  font-family: :"Abril Fatface", cursive;
  font-size: large;
}

.hero-banner img {
  width: 100%
}

.hero-banner h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 5rem;
  color: #2F4F4F;
}

#about-me {
  display: flex;
  width: auto;
  margin: auto;
  padding-bottom: 4rem;
}

#about {
  padding: 2rem;
}

.work-contact{
  text-align: center;
}

#portfolio {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;

}

article {
  text-align: center;
  margin-bottom: 1rem;
  padding: 0;
}

article a {
  text-decoration: none;
  color: #000000;
}

article a:hover{
  color: #2F4F4F;
  text-decoration: none;
  padding: 0;
}

article h3 {
  margin: 0
}

article p{
  text-align: center;
  padding: 0;

}
.button{
  padding: 1rem;
  margin: auto;
  background-color: #D8BFD8;
  color: #000000;
}

#contact-me {
  padding: .5rem 1rem;
  margin: 0;
}

#contact-me li {
  list-style-type: none;
  padding: 0 1rem;
  text-align: center;
}

#contact-me a {
  color: #2F4F4F;
  text-decoration: none;
}

footer {
  text-align: center;
}
